@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: black;
  

  /* overflow: hidden; */
  }

  :root {
    color-scheme: light only;

  }

.primary-container{
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  
}

html,
body {
font-family: 'Roboto Mono', monospace;
background: #000000;
height: 100%;
}

#loader {
  
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
                
  
}
.text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  font-size: 50px;
  color: #fafafa;
}

.dud {
  color: #757575;
}

@media screen and (max-width: 767px) {

  .text{
    font-size: 30px;
    width: 80%;
    text-align: center;
  }

}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from { bottom:-20px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-20px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  /* text-align: center; */
}



.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.topnav {
overflow: hidden;
/* background-color: black; */
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
margin-top: 19px;
text-decoration: none;
font-family: 'League Spartan', sans-serif; 
/* font-weight: bold; */
margin-right: 20px;
}

/* .topnav a:hover {
background-color: #ddd;
color: black;

} */



.topnav-right {
float: right;
margin-right: 150px;
font-size: 35px;
}

.flip-container, 
.flip-container-navbar {
    display: inline-block;
    font-size: 24px;
    position: relative;
    cursor: pointer;
    letter-spacing: 0;
    font-family: 'League Spartan', sans-serif; 
    font-size: 50px; 
    color: white;
    margin-top: 17px;
    margin-left: 20px;
  }

  .flip-container span, 
  .flip-container-navbar span {
    display: inline-block;
    transition: transform 0.2s;
    transform-style: preserve-3d;
  }

  .flip-container:hover span, 
  .flip-container-navbar:hover span{
    animation: flipLetter 0.2s forwards;
  }

  @keyframes flipLetter {
    0%, 100% {
      transform: perspective(400px) rotateY(0deg);
  }
  50% {
      transform: perspective(400px) rotateY(180deg);
  }
  }

  .flip-container:hover span:nth-child(1),
  .flip-container-navbar span:nth-child(1) {
    animation-delay: 100ms;
  }

  .flip-container:hover span:nth-child(2),
  .flip-container-navbar span:nth-child(2)  {
    animation-delay: 150ms;
  }

  .flip-container:hover span:nth-child(3),
  .flip-container-navbar span:nth-child(3)  {
    animation-delay: 200ms;
  }

  .flip-container:hover span:nth-child(4),
  .flip-container-navbar span:nth-child(4)  {
    animation-delay: 250ms;
  }

  .flip-container:hover span:nth-child(5),
  .flip-container-navbar span:nth-child(5)  {
    animation-delay: 300ms;
  }

  .flip-container:hover span:nth-child(6),
  .flip-container-navbar span:nth-child(6)  {
    animation-delay: 350ms;
  }
  .flip-container:hover span:nth-child(7),
  .flip-container-navbar span:nth-child(7)  {
    animation-delay: 400ms;
  }

  .flip-container:hover span:nth-child(8),
  .flip-container-navbar span:nth-child(8)  {
    animation-delay: 450ms;
  }

  .flip-container:hover span:nth-child(9),
  .flip-container-navbar span:nth-child(9)  {
    animation-delay: 900ms;
  }

  .flip-container:hover span:nth-child(10),
  .flip-container-navbar span:nth-child(10)  {
    animation-delay: 950ms;
  }

  .flip-container:hover span:nth-child(11),
  .flip-container-navbar span:nth-child(11)  {
    animation-delay: 1000ms;
  }
  .flip-container:hover span:nth-child(12),
  .flip-container-navbar span:nth-child(12)  {
    animation-delay: 1010ms;
  }


  /* Mobile Responsiveness */

  .menu-icon {
    display: none;
    cursor: pointer;
    
    padding-right: 30px;
    padding-top: 27px;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
  }
  
  .menu-icon .bar {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .menu-icon.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .menu-icon.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .menu-icon.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -8px);
  }
  
  @media screen and (max-width: 767px) {

    
    .topnav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    }
    
    .topnav a {
      display: block;
    }

    .flip-container{
      font-size: 40px;
      
    }
    
    .menu-icon {
      display: block;
    }
    
    .topnav-right {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #333;
      width: 100%;
    }
    
    .topnav-right.active {
      display: block;
    }
    
    .topnav-right a {
      display: block;
      padding: 10px;
      text-align: center;
      color: #fff;
      text-decoration: none;
    }



   
  }
  

  /* rest of the page */





  /********************/

 



  .mid-content{

      /* margin-left: 100px; */
      margin-top: 20px;
      margin-bottom: 0px;
      padding: 70px 100px;
      height: 90vh;
      display:flex;
      background-color: white;
  }

  .left-container{
    width: 60%;
    /* background-color: blue; */
    height: 60vh;
  }
  
  .mid-content .left-container > p:first-of-type{
      color: black;
      font-family: 'League Spartan', sans-serif; 
      font-size: 70px;
      font-weight: bold;
      margin-bottom: 0px;

  }

  .mid-content .left-container > p:nth-of-type(2){
      color: black;
      font-family: 'League Spartan', sans-serif; 
      font-size: 30px;
      padding: 0px;

  }


  .mid-content .right-container{
    background-image: url("../images/home.jpg");
    background-size:cover;
    background-position: center;
    border-radius: 5px;
    height: 60vh;
    width: 40%;
  }

  .proposal-button{
    background-color: black;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 65px;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    font-weight: bolder;
    margin-top: 10px;
    color:white;
    
}


  @media only screen and (max-width: 768px) {
    .mid-content {
      padding: 20px;
      margin: 0;
      display: block; 
      width: 100%;
      height: 90vh;
      justify-content: center;
      align-items: center;
      
    }

    .mid-content .left-container{
      width: 100%;
      max-width: 100%; 
      text-align: center;
      height: 40vh;
    }

    .mid-content .left-container p:first-of-type {
      width: 100%;
      padding: 10px;
      font-size: 35px;
      text-align: center;
    }

    .mid-content .left-container p:nth-of-type(2){

      width: 100%;
      padding: 10px 30px;
      font-size: 20px;
      margin: 0;

    }

    .mid-content .left-container .button-container{

      display: flex;
      justify-content: center;

    }

    .mid-content .left-container .proposal-button{
      width: 100px;
      height: 30px;
      font-size: 10px;
      
      cursor: pointer;
    }

    .mid-content .right-container{
      width: 85%;
      height: 30vh;      
      margin: 0px 30px;
    }
  }

  

.partners-bar{
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 10px 50px;
  padding-left: 100px;
  width: 100%;
  border: 1px solid rgb(221, 221, 221);
}

.partners-bar p{
  font-size: 20px;
  font-family:'League Spartan', sans-serif;
  font-weight: bold;
  color: rgb(135, 135, 135);
  margin-top: 25px;
  margin-left: 100px;
  float: left;  
  
}

.partners-logo{
  display: flex;
  margin-left: 200px;
  overflow: hidden  ;
  margin-right: 20px;
  /* overflow-x: hidden; */
}

.partners-bar .partners-logo img{
  position: center;  
  object-fit: contain;
  display: block;
  display: inline-block;
  padding-right: 70px;
  /* border: 2px solid grey;   */
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 70px;


}

@media only screen and (max-width: 768px) {

  .partners-bar{
    padding: 0;
    margin: 0;
    height: 6vh;
  }

  .partners-bar p{
    font-size: 8px;
    margin: 0;
    margin-left: 20px;
    margin-right: 10px;
  }

  .partners-bar .partners-logo{
    
    margin: 0;
  }

  .partners-bar .partners-logo img{
    width: 50px;
    height: 25px;
    padding: 0;
    margin-right: 15px;
  }
}



.container-2{
  background-color: white;
  width: 100%;
  height: 160vh;
  padding:100px 20px;
  justify-content: center ;
  align-items: center;
  text-align: center;
  border-bottom: 10px solid  black;


}

.container-2 h1{
  font-size: 100px;
  font-family: 'League Spartan', sans-serif;;
  font-weight: bolder;
  padding-left: 15%;
  padding-right: 15%;
}

.container-2 p{

  color: black;
  font-family: 'League Spartan', sans-serif; 
  font-size: 35px;
  font-weight: bold;
  width: 70%;
  padding:  0px;
  display: inline-block;
}

.container-2 .box-bar{
  display: flex;
  /* background-color: rgb(135, 110, 110); */
  width: 100%;
  justify-content: center ;
  align-items: center;
  margin-top: 35px;
  /* text-align: center; */
  

}

.container-2 .box1, 
.container-2 .box2, 
.container-2 .box3, 
.container-2 .box4{
  background-color: rgb(0, 0, 0);
  color: white;
  justify-content: center ;
  align-items: center;
  height: 12vh;
  width: 30vh;
  margin:5px;

}

.container-2 .box1 p,
.container-2 .box2 p,
.container-2 .box3 p,
.container-2 .box4 p{
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}
/* 
.container-2 .box2 p{
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.container-2 .box3 p{
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.container-2 .box4 p{
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: bolder;
} */


@media only screen and (max-width: 768px){
  .container-2{
    padding: 20px;
    height: 80vh;
    padding-top: 60px;
  }
  .container-2 h1{
    font-size: 35px;
    padding:10px;
    margin:20px 0px;
  }

  .container-2 p{
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 10px 30px;
    width: 100%;
  }

  .container-2 .box1,
  .container-2 .box2,
  .container-2 .box3,
  .container-2 .box4 {
    height: 5vh;
    width: 70px;
  }

  .container-2 .box1 p,
  .container-2 .box2 p,
  .container-2 .box3 p,
  .container-2 .box4 p{
    font-size: 10px;
    padding: 10px 0;

  }
}

.container-3{

  background-color: rgb(255, 255, 255);
  height: 180vh;

  /* display: flex; */
  padding: 100px 50px 100px 50px;
  align-items: center;

}

.container-3 h1{

  font-size: 100px;
  font-family: 'League Spartan', sans-serif;;
  font-weight: bolder;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 0;
  margin-bottom: 0;

}

.container-3 .sub-container{

  display: flex;
  padding: 100px 0px 100px 50px;
  align-items: center;

}
.container-3 p{

  color: black;
  font-family: 'League Spartan', sans-serif; 
  font-size: 35px;
  font-weight: bold;
  width: 70%;
  padding:  0px;
  display: inline-block;
  width: 40%;
}

.container-3 .image-container{

  background-image: url("../images/wireframe.png");
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 60%;

}

@media only screen and (max-width: 768px){

  .container-3{
    padding: 20px;
    height: 110vh;
    padding-top: 60px;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .container-3 h1{
    font-size: 35px;
    padding:10px;
    margin:20px 0px;
    text-align: center;
    width: 100%;
  }

  .container-3 .sub-container{
    padding: 0;
    width: 100%;
    display: block;
  }

  .container-3 .sub-container p{

    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 10px 30px;
    width: 100%;
    text-align: center;
  }

  .container-3 .sub-container .image-container{
    width: 85%;
    height: 30vh;      
    margin: 30px;
  }
  
}



/******** FAQ CSS *********/

.faq-container{
  
  background-color: black;
  height: 150vh;
  margin: 0;
  padding: 100px 300px;
}

.faq-container h1{
  color: white;
  font-family: 'League Spartan', sans-serif; 
  font-size: 100px;
}

.faq-container .accordion {
  background-color: rgba(0, 0, 0, 0.14);
  /* background-color: #eee; */
  color: #ffffffe8;
  font-family: 'League Spartan', sans-serif;   
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
  font-weight: bold;
  transition: 0.4s;
}

.faq-container .active, .faq-container .accordion:hover {
  background-color: #ffffff;
  color: black;
}

.faq-container .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.faq-container .active:after {
  content: "\2212";
}

.faq-container .panel {
  background-color: rgba(0, 0, 0, 0.14);
  color: white;
  font-family: 'League Spartan', sans-serif; 
  font-size: 22px;
  padding: 0 25px;
  /* background-color: white; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(71, 71, 71);
}


@media only screen and (max-width: 768px){

  .faq-container{
    width: 100%;
    padding: 20px;
    height: 100vh;
  }

  .faq-container h1{
    font-size: 35px;
    margin: 20px 0px;
    padding: 10px;
  }

  .faq-container .accordion{
    width: 100%;
    font-size: 12px;
    padding-right: 35px;
  }

  .faq-container .accordion:after{
    text-align: right;
  }
  .faq-container .panel{
    width: 100%;
    font-size: 12px;

  }
}
/**************************/