.sv-container-1{
    background-color: rgb(239, 239, 239);
    color: rgb(0, 0, 0);
    height: 110vh;
    margin: 0;
    padding: 20px 0;
    font-family: 'League Spartan', sans-serif;
    

}

.sv-container-1 h1{
    font-family: 'League Spartan', sans-serif;
    font-weight: bolder;
    font-size: 80px;
    text-align: center;
    padding: 20px 0;
}


.sv-subContainer{
    display: flex;
    height: 50vh;
    text-align: center;
}

.sv-inner-1{
    width: 60%;
    text-align: center;
    padding: 25px 105px 0px 150px;
}

.sv-inner-1 p{
    font-size:30px;
}



.sv-inner-2{
    width: 30%;
    background-color: rgba(0, 0, 0, 0.93);
    color: white;
    box-shadow: 20px 30px 40px -20px hsl(229, 6%, 66%);
    
    padding: 25px;
    margin-right: 10%;

    position: relative;
    overflow: hidden;

}

.sv-inner-2 p{
    font-size:60px;
    padding: 10px;
    margin: 0;
    text-align: left;
    position: relative;
    animation: slideRightToLeft 1s ease forwards;
    opacity: 0;
}

@keyframes slideRightToLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.sv-inner-2 p:nth-child(2) {
    animation-delay: 0.2s;
}

.sv-inner-2 p:nth-child(3) {
    animation-delay: 0.4s;
}

.sv-inner-2 p:nth-child(4) {
    animation-delay: 0.6s;
}

@media only screen and (max-width: 768px) {

    .sv-container-1{
        /* background-color: rgb(162, 146, 178); */
        height: 86vh;
    }
    
    .sv-container-1 h1{
        font-size: 35px;
        padding: 20px;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .sv-subContainer{
        /* background-color: blueviolet; */
        display: flex;
        flex-direction: column;
        height: 60vh;
        text-align: center;
        justify-content: center;
        text-align: center;
        align-items: center;
        
    }
    .sv-subContainer .sv-inner-1{
       
        padding: 25px;
        width: 100%;

    }

    .sv-subContainer .sv-inner-1 p{
        font-size: 15px;
        font-weight: bold;
    }

    .sv-subContainer .sv-inner-2{
       
        padding: 25px;
        width: 50%;
        justify-content: center;
        text-align: center;
        align-items: center;
        /* margin-right: 10px; */
        padding: 30px 100px;
        height: 100%;
        overflow: hidden;
        margin: 0 5%;

    }

    .sv-subContainer .sv-inner-2 p{
       
        font-size: 20px;
        padding: 5px;

    }

}


.sv-container-2{
    height: 160vh;
    background-color: rgb(255, 255, 255);
    

}

.sv-container-2 p{
    color: rgb(0, 0, 0);
    font-family: 'League Spartan', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    padding: 20px 200px;

}

.pkg-container{
    background-color: rgb(255, 255, 255);
    height: 90vh;
    margin: 1% 8%;
    display: flex;
    /* border: 1px solid rgb(0, 0, 0); */
}

.pkg-container .pkg-1{
    height: 85vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -0.5rem 1rem 1rem rgba(0 0 0 / 0.15);
    margin: 0% 3%;
    width: 33.3%;

}

.pkg-container .pkg-2{
    height: 85vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -0.5rem 1rem 1rem rgba(0 0 0 / 0.15);
    margin: 0% 5%;
    width: 33.3%;

}

.pkg-container .pkg-3{
    height: 85vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 -0.5rem 1rem 1rem rgba(0 0 0 / 0.15);
    margin: 0% 5%;
    width: 33.3%;

}

.pkg-type{
    background-color: black;
    
    text-align: center;
    padding: 20px;
    
}

.pkg-type p{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: bold;
    
}

.pkg-cont{
    padding: 30px 10px;
}

.pkg-cont p:first-child{
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 10vh;
    
}

.pkg-cont li{

    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;

}

.pkg-cont p:nth-of-type(2){
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px 0px 10px ;
    text-align: left;
}


@media only screen and (max-width: 768px) {

    br {
        display: none; /* Hide <br> tags */
    }
    
    .sv-container-2{

        /* background-color: rgb(52, 52, 66); */
        height: 250vh;
    }
    .sv-container-2 p{
        font-size:25px;
        width: 100%;
        padding: 45px;

    }

    .pkg-container{
        
        /* background-color: rgb(255, 255, 255); */
        flex-direction: column;
        margin: 0;
        height: 200vh;
        width: 100%;
        text-align: center;
        
        align-items: center;
        justify-content: center;
    }

    .pkg-container .pkg-1,
    .pkg-container .pkg-2,
    .pkg-container .pkg-3{
        margin: 5 25%;
        width: 65%;
        height: 60vh;
        margin-bottom: 70px;
        opacity: 0;
    }

    .pkg-container .pkg-1 .pkg-type,
    .pkg-container .pkg-2 .pkg-type,
    .pkg-container .pkg-3 .pkg-type  {
        height: 7vh;
        padding: 15px;
    }

    .pkg-container .pkg-1 .pkg-type p,
    .pkg-container .pkg-2 .pkg-type p,
    .pkg-container .pkg-3 .pkg-type p {
        font-size: 20px;
        color: white;
        overflow: hidden;
        padding:0
    }

    .pkg-container .pkg-1 .pkg-cont,
    .pkg-container .pkg-2 .pkg-cont,
    .pkg-container .pkg-3 .pkg-cont  {
        height: 20vh;
        padding: 15px;
    }

    .pkg-container .pkg-1 .pkg-cont p,
    .pkg-container .pkg-2 .pkg-cont p,
    .pkg-container .pkg-3 .pkg-cont p  {
        height: 10vh;
        font-size: 17px;
        text-align: center;
    }

    .pkg-1 li,
    .pkg-2 li,
    .pkg-3 li{
        
        font-size: 15px;
        padding: 0;
        text-align: left;

    }


    /* Define your animation */
@keyframes slideInRightToLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply animation to elements */
.pkg-container .pkg-1,
.pkg-container .pkg-2,
.pkg-container .pkg-3 {
    animation: slideInRightToLeft 1s forwards;
}

/* Initially hide the elements */
.pkg-container .hidden {
    opacity: 0;
    transform: translateX(100%);
}

.pkg-container .pkg-2 {
    animation-delay: 1s;
}

.pkg-container .pkg-3 {
    animation-delay: 2s;
}




}

.sv-container-3{
    background-color:rgb(246, 245, 241);
    height: 150vh;
    text-align: center;
}

.sv-container-3 p{
    color: rgb(0, 0, 0);
    font-family: 'League Spartan', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    padding: 20px 200px;

}

.sv-container-3 button{
    height: 10vh;
    width: 18vw;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
    
    font-size: 20px;
    /* box-shadow: 0 -0.5rem 1rem 1rem rgba(0, 0, 0, 0.29); */


}

.sv-img{
    background-color: rgb(246, 245, 241);
    height: 80vh;
}

@media only screen and (max-width: 768px) {

    .sv-container-3{
        padding: 0;
        height: 100vh;
        

    }

    .sv-img{
        height: 50vh;

    }

    .sv-container-3 .sv-img img{
        width:380px;
        height:300px;
    }

    .sv-container-3 p{
        font-size: 35px;
        /* margin: 0; */
        padding: 0;
    }


    .sv-container-3 button{
        width: 50%;
    }



}